/* You can add global styles to this file, and also import other style files */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rubik', sans-serif;
    src: url(assets/fonts/Rubik-VariableFont_wght.ttf),
    url(assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}

:root {
    --dark-navy: #313E51;
    --navy: #3B4D66;
    --purple: #A729F5;
    --light-bluish: #ABC1E1;
    --pure-white: #ffffff;
    --dark-gray: #626C7F;
    --error: #EE5454;
    --green: #26D782;
    --light-grey: #F4F6FA;

}

/* light mode */
.light-mode {
    --main-bg: var(--light-grey);
    --main-bg-image-mobile: url("/assets/images/pattern-background-mobile-light.svg");
    --main-bg-image-tablet: url("/assets/images/pattern-background-tablet-light.svg");
    --main-bg-image-desktop: url("/assets/images/pattern-background-desktop-light.svg");
    --text-color: var(--dark-navy);
    --border-bg: var(--pure-white);
    --question-title-color: var(--dark-gray);
    --option-text: var(var(var(--dark-navy)))

}

.dark-mode {
    --main-bg: var(--dark-navy);
    --main-bg-image-mobile: url("/assets/images/pattern-background-mobile-dark.svg");
    --main-bg-image-tablet: url("/assets/images/pattern-background-tablet-dark.svg");
    --main-bg-image-desktop: url("/assets/images/pattern-background-desktop-dark.svg");
    --text-color: var(--pure-white);
    --border-bg: var(--navy);
    --question-title-color: var(--light-bluish);
    --option-text: var(var(--pure-white))
}

body {
    background-image: var(--main-bg-image-mobile);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--main-bg);
    color: var(--text-color);
}

/* 
================
MEDIA QUERIES
================ */

@media screen and (min-width:768px) {
    body {
        background-image: var(--main-bg-image-tablet);
        background-color: var(--main-bg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:1024px) {
    body {
        background-image: var(--main-bg-image-desktop);
        background-color: var(--main-bg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}