/* You can add global styles to this file, and also import other style files */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rubik', sans-serif;
    src: url(assets/fonts/Rubik-VariableFont_wght.ttf),
    url(assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}

:root {
    --dark-navy: #313E51;
    --navy: #3B4D66;
    --purple: #A729F5;
    --light-bluish: #ABC1E1;
    --pure-white: #ffffff;
    --dark-gray: #626C7F;
    --error: #EE5454;
    --green: #26D782;
    --light-grey: #F4F6FA;

}

/* light mode */
.light-mode {
    --main-bg: var(--light-grey);
    --text-color: var(--dark-navy);
}

.dark-mode {
    --main-bg: var(--dark-navy);
    --text-color: var(--pure-white);
}

body {
    background-color: var(--main-bg);
    color: var(--text-color);
}