<div class="quiz-container">
    <div class="questions-progress-container">
        <div class="questions-container">
        <p class="question-title">Question 1 of 10</p>
        <p class="question">Which of these color contrast ratios defines
             the minimum WCAG 2.1 Level AA requirement for normal text?</p>
        </div>

        <div class="progress-container">
            <div class="progress-bar">
                <div class="progress">
                    <div class="progress-bar-fill">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="options-container">
        <div class="option">
            <div class="option-label">
                <p>A</p>
            </div>
            <p class="option-text">Ama</p>
        </div>
        <div class="option">
            <div class="option-label">
                <p>B</p>
            </div>
            <p class="option-text">Ama</p>
        </div>
        <div class="option">
            <div class="option-label">
                <p>C</p>
            </div>
            <p class="option-text">Ama</p>
        </div>
        <div class="option">
            <div class="option-label">
                <p>D</p>
            </div>
            <p class="option-text">Ama</p>
        </div>
        
        <div class="submit">
            <button class="submit-btn">Submit Answer</button>
        </div>
    </div>
</div>