.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em 0;
}

.questions-progress-container {
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 100%;
}

.question-title {
    font-size: 0.875rem;
    font-style: italic;
    color: var(--question-title-color);
    margin-bottom: 0.625em;
}

.questions {
    font-size: 1.25rem;
    font-weight: 600;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    overflow: hidden;
}

.progress-bar {
    width: 100%;
    height: 1em;
    background-color: var(--border-bg);
    border-radius: 0.5em;
    padding: 4px;
    gap: 0.5em;
}

.progress-bar-fill {
    height: 100%;
    background-color: var(--purple);
    border-radius: 0.5em;
    transition: width 0.3s ease-in-out;
}

.options-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.option {
    display: flex;
    align-self: flex-start;
    align-items: center;
    background-color: var(--border-bg);
    border-radius: 12px;
    width: 100%;
    padding: 12px;
    gap: 16px;
    cursor: pointer;
}

.option-label {
    width: 2.5em;
    height: 2.5em;
    border: transparent;
    border-radius: .5em;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--light-grey);
    color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-text {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--option-text);
}

.option .tick,
.option .wrong {
    margin-left: auto;
}
.submit {
    width: 100%;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: transparent;
    background-color: var(--purple);
    color: var(--pure-white);
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}


.error-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.125rem;
}

/* selected option */
.selected-option {
    border: 2px solid var(--purple);
}
.selected-option .option-label {
    background-color: var(--purple);
    color: var(--pure-white);
}

/* correct option */
.correct-option {
    border: 2px solid var(--green);
}
.correct-option .option-label {
    background-color: var(--green);
    color: var(--pure-white);
}


/* incorrect option */
.incorrect-option {
    border: 2px solid var(--error);
}
.incorrect-option .option-label {
    background-color: var(--error);
    color: var(--pure-white);
}


/* 
======================
HOVERING EFFECTS
===================== */
.option:hover {
    border: 2px solid var(--purple);
}


.option-label:active {
    background-color: var(--purple);
    color: var(--pure-white);
}